
body {
  background-color: silver;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/134eab72-4076-425e-892f-3adacd6c275b/d5qef4o-58a2a97b-e7f6-4cfc-9ec4-0e651b41d9e8.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEzNGVhYjcyLTQwNzYtNDI1ZS04OTJmLTNhZGFjZDZjMjc1YlwvZDVxZWY0by01OGEyYTk3Yi1lN2Y2LTRjZmMtOWVjNC0wZTY1MWI0MWQ5ZTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qL1SYCIbJJKV3pvedANOrjUjcq8xG4_ulj-AREkYkGY);
}

.container{
  background-image: url(https://c.pxhere.com/images/67/0f/6be4722ca323c575e92dfe113a72-1566373.jpg!d);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 15% 0 0% 0%;
  border-radius: 5%;
  padding: 10% 0 15% 5%;
  font-family: 'MedievalSharp', cursive;
  font-size: 24px;
}



.header{
  width: 480px;
  margin: 12 auto;
  text-align: center;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(155, 155, 155, 0.466) !important;
    background-clip: border-box;
    border: 1px solid rgba(193, 214, 3, 0.774);
    border-radius: .25rem;
    margin: 0 auto;
    width: 85%;
    padding: 15px;
    /* opacity: .7; */
}

.card-header {
    padding: 0.75rem 0.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

 .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    height: 30px;
    margin: 0 auto;
 }


.mycard {
  margin: 0px 0px 12px opx;
  width: auto;
  padding: 8px;
  box-shadow: #eeeeee 1pz 1px 1px;
  display: inline-flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: bold;
}

.mycard input {
  width: 110%;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 12px;
  padding: 0px 0px 1px 4px;
  margin: 1px 19px 1px -4px;
  -webkit-flex: 1;

}
.mycard label{
   flex: 3;
  font-size: 10px;
}
.mycard button{
    flex: 1 1;
    margin: 4% 0 0 0;
    padding: 6px 5px 5px 6px;
    cursor: pointer;
    display: flex;
    margin-left: -1px;
}



#initiative{
  width: auto;
  display: flex;

}

/* #initiative input[type=number] {
    flex: 1;
    padding-right: 60px;
} */

#initiative button[type=button] {
    padding: 2px;
    margin-top: 20px;
    height: 30px;

}